/* Makes the Logo aligned to the left instead of centered*/
#fh5co-header #fh5co-logo {
    text-align: left;
}

/* Makes the always-visible dropdown menu header text a white color */
#fh5co-header nav ul li a {
    color: white;
    text-align: right;
}

/* Makes the dropdown menu text a grey color */
#fh5co-header nav ul li ul li a {
    color: #85919d;
}

/* Makes the dropdown menu smaller and aligned to right*/
#fh5co-header nav ul li.open ul li {
    margin: 0;
    text-align: right;
}

/* Puts the dropdown menu underneath*/
.dropdown-menu {
    float: none;
}

/* Provides for a darker overlay on the background image */
.fh5co-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 343px;  /* Leaves space for the Footer*/
    background: #2a2d36;
    opacity: .54;
    z-index: 9;
}

/* Positions Login and Register panel*/
.panel-display {
    z-index: 10;
    margin-top: 120px;
}

/* Positions Camera panel*/
.camera-panel {
    z-index: 10;
    margin-top: 20px;
}

/* Configures Camera panel on Login and Register pages*/
.camera-panel-body {
    text-align: center;
    min-height: 280px;
}

/* Configures the Video stream and Canvas on Login and Register pages*/
#video-stream, canvas {
    width: 265px;
    height: 200px;
}

/* Configures the Camera button on Login and Register pages*/
.camera-panel-body p {
    margin-bottom: 6px;
}

/* Configures the Photo text on Login and Register pages*/
#canvasImg {
    margin-bottom: 10px;
}

/* Configures Footer */
footer {
    text-align: center;
    z-index: 10;
}

/* Configures Footer header */
#fh5co-footer .fh5co-footer-widget p {
    font-size: 18px;
    font-weight: bold;
}